header {
  background-color: #58223b;
  max-width: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-area {
  display: flex;
  flex: 1;
}

.sidebar {
  flex-shrink: 0;
  align-self: stretch;
}
h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 4rem;
  margin-left: 10px;
}
